@model todo


<form asp-action="Insert" id="form-action" method="post" role="form">
	<div asp-validation-summary="All"></div>
	<label asp-for="Todo"></label>
	<input asp-for="Id" type="hidden" />
	<input asp-for="Todo" />
	<span asp-validation-for="Todo"></span>
	<input type="submit" id="form-button" value="Add Task" />	
	
	
</form>