@model IEnumerable<TodoList.Models.Todos>


@{
}


<br />
<div class="container row p-0 m-0">
	<div class="col-9">
		<h2 class="text-info"> Todo List
		</h2>
		</div>
		
		<div class="col=3">
		<a class="btn btn-info form-control text-white" asp-controller="Todos" asp-action="Create">Add Task </a>
	</div>
	</div>
	<br /> <br /> <br />

	<div class="col 12 border p-2 mt=3">
	
			@if (Model.Count() > 0)
			{
				<table class="table table-bordered table-striped" style="width80%">

					<thead>
						<tr>
							<th> Todo

							</th>
							<th>

							</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var obj in Model)
						{
							<tr> 
								<td width="50%">@obj.Todo
								</td>

								<td>
									<div class="w-65 btn btn-group" role="group">
										
										<a class="btn btn-success mx-2" asp-controller="Todos" asp-route-Id="@obj.Id" asp-action="Delete" >
											Mark as Done</a>
										<a class="btn btn-primary mx-2" asp-controller="Todos" asp-route-Id="@obj.Id" asp-action="Edit" >
											Edit</a>
										
									</div> 
								</td>
							</tr>

						}
					</tbody>

				</table>
			
				
			} 
			else
			{
				<p>Your Todo list is empty. </p>
				
			}
		
		
	</div>
